<% if @pet.errors.any? %>
  <ul class="flash-errors">
    <% @pet.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for [@user, @pet], html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :species %>
    <%= f.text_field :species %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>
  <div class="avatar">
    <%= f.label :avatar %>
    <%= image_tag @pet.avatar.url(:medium) %>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class: "btn btn-success" %>
    <%= link_to("Cancel", user_path(current_user)) %>
  </div>
<% end %>