<!DOCTYPE html>
<html>
<head>
  <title>Groopiepets</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partials/user_login' %>

<h1>GroopiePets</h1>

<%= yield %>

</body>
</html>
